@page "/grape-variety"

<div class="container">
    <div class="title grid-item">
        <h1>Grape Variety</h1>
    </div>
    <div class="b1 grid-item">
        <NavLink class="grid-button" href="/all-grape-varieties">
            <button class="grid-button btn-color-blue">
                <span class="font-size-30">ALL</span>
                <span class="color-blue">ALL</span>
            </button>
        </NavLink>
    </div>
    <div class="b2 grid-item">
        <NavLink class="grid-button" href="/add-grape-variety">
            <button class="grid-button btn-color-green">
                <span class="font-size-30">ADD</span>
                <span class="color-green">ADD</span>
            </button>
        </NavLink>
    </div>
    @*<div class="b3 grid-item">
        <NavLink class="grid-button" href="/all-grape-varieties">
            <button class="grid-button btn-color-mauve">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>
    <div class="b4 grid-item">
        <NavLink class="grid-button" href="/all-grape-varieties">
            <button class="grid-button btn-color-mauve">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>
    <div class="b5 grid-item">
        <NavLink class="grid-button" href="/all-grape-varieties">
            <button class="grid-button btn-color-mauve">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>
    <div class="b6 grid-item">
        <NavLink class="grid-button" href="/all-grape-varieties">
            <button class="grid-button btn-color-mauve">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>*@
</div>


@code {

}
