@page "/composition"

<div class="container">
    <div class="title grid-item">
        <h1>Composition</h1>
    </div>
    <div class="b1 grid-item">
        <NavLink class="grid-button" href="/all-compositions">
            <button class="grid-button btn-color-blue">
                <span class="font-size-30">ALL</span>
            </button>
        </NavLink>
    </div>
    <div class="b2 grid-item">
        <NavLink class="grid-button" href="/add-composition">
            <button class="grid-button btn-color-green ">
                <span class="font-size-30">ADD</span>
            </button>
        </NavLink>
    </div>
    @*<div class="b3 grid-item">
        <NavLink class="grid-button" href="/all-compositions">
            <button class="grid-button btn-color-mauve">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>
    <div class="b4 grid-item">
        <NavLink class="grid-button" href="/all-compositions">
            <button class="grid-button btn-color-mauve ">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>
    <div class="b5 grid-item">
        <NavLink class="grid-button" href="/all-compositions">
            <button class="grid-button btn-color-mauve">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>
    <div class="b6 grid-item">
        <NavLink class="grid-button" href="/all-compositions">
            <button class="grid-button btn-color-mauve ">
                <span class="font-size-22">X</span>
                <span></span>
            </button>
        </NavLink>
    </div>*@
</div>


@code {

}
