@page "/test"


<div class="container">
    <div class="title grid-item">
        <h1>TITLE</h1>
    </div>
    <div class="b1 grid-item">
        <button class="grid-button">1</button>
    </div>
    <div class="b2 grid-item">
        <button class="grid-button">2</button>
    </div>
    <div class="b3 grid-item">
        <button class="grid-button">3</button>
    </div>
    <div class="b4 grid-item">
        <button class="grid-button">4</button>
    </div>
    <div class="b5 grid-item">
        <button class="grid-button">5</button>
    </div>
    <div class="b6 grid-item">
        <button class="grid-button">6</button>
    </div>
</div>



@code {

}
