@inherits LayoutComponentBase
@inject NavigationManager navManager

<div class="page">
    <div class="sidebar">
        @if (Setting.UserBasicDetail != null)
        {
            <NavMenu />
        } 
        
        @if (DeviceInfo.Platform == DevicePlatform.Android || DeviceInfo.Platform == DevicePlatform.iOS)
        {
            <NavMenuPhone />
        }
    </div>

    <main>
        <div class="top-row px-4">
            @if (Setting.UserBasicDetail == null)
            {
                <a href="login">Log In</a>
                <a href="registration">Sign Up</a>
            }
            else
            {
                <a href="#" @onclick="LogOut">Log Out</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void LogOut()
    {
        SecureStorage.RemoveAll();
        Setting.UserBasicDetail = null;
        navManager.NavigateTo("/login");
    }
}